$primary-blue: #0606E4;
$white: #fff;
$yellow: #e3F307;
$navy-blue: #001186;
$grey: #f5f5f5;
$secondary_blue:#0020f6;
$tertiary-white:#cdced9;
$primary-yellow:yellow;
$primary-black:black;
$primary-orange:orange;

