@use './abstracts/colors' as *;

.trusted {
  &-container {
    background-color: transparent;
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem;
    color: $white;

    &__bg-blue {
      background-color: blue;
    }

    &__heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 80rem;
      padding-bottom: 0.5rem;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      margin-top: 3.5rem;

      @media only screen and (min-width: 800px) {

        font-size: 2rem;
        font-weight: 900;
      }

      &::after {
        background-color: #e3f307;
        bottom: 0;
        content: "";
        display: block;
        height: 0.3125rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 3.75rem;
      }
    }

    &__description {
      text-align: center;
      font-size: 1.125rem;
      line-height: 1.6rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 80rem;
      text-align: center;
      width: 80%;
    }

    &__slider {
      margin-top: 6rem;
      width: 100%;
      transition: width .35s ease-in-out;
      display: flex;
    }
  }

}

.slide {
  width: 12rem;

  img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}

.trusted-container__bg-white .trusted-container {
  color: black;
}
